
body{
    margin:0;
    font-family: sans-serif;
}
header,footer{
    background-color: black;
    color: white;
    text-align:center;
    padding: 1rem;
}
/*
.container{
        padding: 1rem;

}*/
.card{
    background-color: azure;
    padding: 1rem;
    border: 1px solid white;
    margin: 0.5rem;
    width: 200px;
}

/* flexbox*/
.container{
    display: flex;
    flex-direction: row;
}